body{
  color:floralwhite;
  background:rebeccapurple;
  font-family: "Lobster", sans-serif; 
}
header { 
  border-bottom : solid;
  padding: 20px;
  font-size: 26px;
 
  color:floralwhite;
  background: radial-gradient(black, transparent);
}

section {


  background: rgb(72 61 139);
 
  padding-bottom: 90px;
  padding-top: 90px;
  display:flex;
  justify-content: center;

}
.chamada-texto{  
  margin-right: 10%;
}


 h1 {
  font-size: 40px;
}
img{
  height: 200px;
  opacity: 0.5;
  border: 1px solid blue
 }


p {
  font-size: 20px;
}


.categoria-videos {
  display: flex;
  overflow-x: auto;
  gap: 10px;
}
.categoria-videos img {
  opacity: 0.5;
  height: 200px;
}

.categoria-videos img:hover {
  opacity: 1.0;
  border: 1px solid whitesmoke;
}